#contGeneral {
  width: 100vw;
  height: 100vh;
  background-color: rgb(187, 222, 97);
}

#marca {
  font-size: 2em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-top: 15%;
}

#menu {
  padding-top: 4%;
  text-align: center;
}

#carrito {
  width: 25%;
  height: auto;
}
.numArticulos {
  font-size: 1.5em;
  font-weight: 800;
}
#carritoCompras {
  padding-top: 15%;
}

#items {
  padding-top: 10%;
}